<div class="container">
<div class="page-header form-group">
  <%= link_to 'New Provider', new_provider_path, :class=>"btn btn-custom pull-right" %>
  <h3>Listing Providers</h3>
</div>


<div class="form-group" style="min-height: 500px;">
<table class="table table-responsive">
  <thead>
    <tr>
      <th>Rails ID</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Preferred name</th>
      <th>Middle Name</th>
      <th>Salutation</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.id %></td>
        <td><%= link_to provider.last_name, provider %></td>
        <td><%= link_to provider.first_name, provider %></td>
        <td><%= link_to provider.preferred_name, provider %></td>
        <td><%= provider.middle_name %></td>
        <td><%= provider.salutation %></td>
        <td><%= provider.address %></td>
        <td><%= provider.email %></td>
        <td><%= provider.phone_number %></td>
        <td><%= provider.status %></td>

        <td><%= link_to 'Show', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Destroy', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

