<div class="container" style="    margin-top: 15px;">
  <div class="breadcrumbs">Shifts &gt; Filter &gt;<%= @shift.shift %></div>
  <div class="paper-trail">Last Modified by Michael Moore on 3/15/16</div>
</div>
<div class="container">
  <div class="page-header form-group" style="margin-top: 10px;">
    <%= link_to 'Edit', edit_shift_path(@shift) , :class=>"btn btn-custom pull-right", :style=>"margin-left:10px;width:100px;"  %> <%= link_to 'Back', shifts_path , :class=>"btn btn-custom pull-right" , :style=>"margin-left:10px;width:100px;" %>
    <h1><%=  @shift.provider_id %><%=  @shift.shift %></h1>
  </div>


  <div class="form-group">

<p>
  <strong>Provider:</strong>
  <%= @shift.provider_id %>
</p>



<p>
  <strong>Site:</strong>
  <%= @shift.site_id %>
</p>



<p>
  <strong>Date:</strong>
  <%= @shift.date %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @shift.shift %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>Start end:</strong>
  <%= @shift.start_end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shift.status %>
</p>

<p>
  <strong>Hide from schedule:</strong>
  <%= @shift.hide_from_schedule %>
</p>

<p>
  <strong>Custom pay rate:</strong>
  <%= @shift.custom_pay_rate %>
</p>

<p>
  <strong>Custom bill rate:</strong>
  <%= @shift.custom_bill_rate %>
</p>

<p>
  <strong>Area:</strong>
  <%= @shift.area %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shift.note %>
</p>

<p>
  <strong>Filledon:</strong>
  <%= @shift.filledon %>
</p>

<p>
  <strong>Access:</strong>
  <%= @shift.access_id %>
</p>

<p>
  <strong>Last modified by x on y:</strong>
  <%= @shift.last_modified_by_x_on_y %>
</p>
  </div>

</div>