<%= form_for(site) do |f| %>
    <% if site.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(site.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% site.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">

      <div class="row info-tab">
        <span class="title">Basic</span>
      </div>
    <div class="info-group row">
    <div class="form-group col-md-6">
    <div class="field">
      <%= f.label :hospital_name , :class =>"col-md-5" %>
      <%= f.text_field :hospital_name %>
    </div>

    <div class="field">
      <%= f.label :address , :class =>"col-md-5" %>
      <%= f.text_field :address %>
    </div>

      <div class="field">
        <%= f.label :city , :class =>"col-md-5" %>
        <%= f.text_field :city %>
      </div>


    </div>
    <div class="form-group col-md-6">
      <div class="field">
        <%= f.label :phone_number , :class =>"col-md-5
        "%>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :fax_number, :class =>"col-md-5"  %>
        <%= f.text_field :fax_number %>
      </div>

      <div class="field">
        <%= f.label :po_box, :class =>"col-md-5"  %>
        <%= f.text_field :po_box %>
      </div>
    </div>
    </div>
</div>
<div class="row">
<div class="row info-tab">
  <span class="title">Contacts</span>
</div>
  <div class="info-group row">
    <div class="form-group  col-md-6">
    <div class="field">
      <%= f.label :contacts_name , :class =>"col-md-5"%>
      <%= f.text_field :contacts_name %>
    </div>


    <div class="field">
      <%= f.label :contacts_phone_number,:class =>"col-md-5" %>
      <%= f.text_field :contacts_phone_number %>
    </div>

    <div class="field">
      <%= f.label :contacts_email , :class =>"col-md-5"%>
      <%= f.text_field :contacts_email %>
    </div>

    <div class="field">
      <%= f.label :contacts_schedule , :class =>"col-md-5"%>
      <%= f.text_field :contacts_schedule %>
    </div>
    </div>

    <div class="form-group col-md-6">
      <div class="field">
        <%= f.label :contacts_description , :class =>"col-md-5"%>
        <%= f.text_area :contacts_description ,:style=>"width:530px;height:93px;"%>
      </div>
    </div>
  </div>
</div>
    <div class="row">
<div class="info-tab row">
  <span class="title">Certification</span>
</div>
      <div class="info-group row">
    <div class="form-group col-md-6">
    <div class="field">
      <%= f.label :housing_info , :class =>"col-md-5"%>
      <%= f.text_field :housing_info %>
    </div>

    <div class="field">
      <%= f.label :status_options , :class =>"col-md-5"%>
      <%= f.select :status_options,[['Active','Active'],['Inactive','Inactive'],['P','P'],['P1','P1'],['DQ','DQ'],['S','S']],:style=>"width:185px;height:27px;" %>
    </div>


    <div class="field">
      <%= f.label :dwc_contact_staff , :class =>"col-md-5"%>
      <%= f.text_field :dwc_contact_staff %>
    </div>

    <div class="field">
      <%= f.label :affiliation, :class =>"col-md-5" %>
      <%= f.text_field :affiliation %>
    </div>

    <div class="field">
      <%= f.label :billing_address, :class =>"col-md-5" %>
      <%= f.text_field :billing_address %>
    </div>

    <div class="field">
      <%= f.label :access_id, :class =>"col-md-5" %>
      <%= f.number_field :access_id %>
    </div>

    <div class="field">
      <%= f.label :microstaffer_id , :class =>"col-md-5"%>
      <%= f.number_field :microstaffer_id %>
    </div>
    </div>
    <div class="form-group  col-md-6">
      <div class="field">
        <%= f.label :certification_requirements, :class =>"col-md-5"%>
        <%= f.text_area :certification_requirements ,:style=>"width:530px;height:180px;"%>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
  <div class="actions row info-group">
    <%= f.submit class:'btn btn-primary' %>
  </div>
    </div>
<% end %>
