<%= simple_form_for(@report) do |f| %>
    <% if report.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(report.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% report.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="row info-tab">
      <span class="title">Input Data</span>
    </div>
    <div class="info-group row">
      <div class="field">
        <%= f.label :name, :class =>"col-md-4" %>
        <%= f.text_field :name %>
      </div>

      <% if user_signed_in? %>
          <div class="field"  style="display: none">
            <%= f.label :creator, :class =>"col-md-4" %>
            <%= f.text_field :creator ,value:current_user.name %>
          </div>
      <% end %>

      <div class="field" style="display: none">
        <%= f.label :module, :class =>"col-md-4" %>
        <%= f.text_field :module ,id:'module-field-id'%>
      </div>

      <div class="field" style="display: none">
        <%= f.label :type, :class =>"col-md-4" %>
        <%= f.text_field :typed ,value:"Tabed"%>
      </div>

      <div class="field" style="display: none">
        <%= f.label :representation, :class =>"col-md-4" %>
        <%= f.text_field :representation,id:'representation-field-id'%>
      </div>
  </div>


    <div class="actions row info-group">
      <%=text_field_tag :arraylist,params[:arraylist], :style=>"padding:3px;margin-right:0px;display: none;",id:'arraylist'%>
      <%= f.submit class:'btn btn-primary',id:'create-report' %>
      <button class="btn btn-primary">Save</button>
      <button class="btn btn-default">Cancel</button>
    </div>

<% end %>

